<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">


    <!-- 通过getServletContext().getInitParameter("XX")读取 -->
    <context-param>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </context-param>

    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@192.168.1.109:1521:ORCL</param-value>
    </context-param>

    <context-param>
        <param-name>username</param-name>
        <param-value>ZHCC</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <param-value>ZHCC</param-value>
    </context-param>


</web-app>
